.back__button{
    padding: 20px;
    color: 20px;
    margin: 20px;
    border: none;
    background-color: lightgreen;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}


.card{
    margin: auto;
    margin-top: 150px;
    width: 40%;
    height: fit-content;
    background-color: white;
    /* position: absolute; */
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 30px;
}

.card > img{
    background-color: lightblue;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    margin-top: -115px;
    border: 10px solid black;
}

.card > h2{
    margin: 20px;
}
